@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Montserrat", sans-serif;
}

@keyframes spreadFade {
  0% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.6);
  }
  70% {
    box-shadow: 0 0 20px 15px rgba(59, 130, 246, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0);
  }
}

.glow {
  animation: spreadFade 2s infinite ease-out;
}
